.index {
    width: 750px;
    height: 100%;
    font-size: 0;
    position: relative;
    overflow: hidden;
}

.songTop {
    width: 750px;
    height: 100px;
    position: relative;
    background-color: #ddd;
}

.songBack {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 20px;
    left: 20px;
}