.index {
    width: 750px;
    height: 100%;
    font-size: 0;
    position: relative;
    overflow: hidden;
}

.songTop {
    width: 750px;
    height: 100px;
    position: relative;
    background-color: #ddd;
}

.songBack {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.listLove {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.backTitle {
    width: 600px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    position: absolute;
    top: 20px;
    right: 75px;
    overflow: hidden;
}