.song_index {
    width: 750px;
    height: calc( 100% - 200px );
    font-size: 0;
    position: relative;
    overflow: hidden;
}

.songTop {
    width: 750px;
    height: 100px;
    position: relative;
    background-color: #ddd;
}

.songBack {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
}

.songBody {
    width: 750px;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.rank_official_box {
    width: 730px;
    height: 200px;
    /* border: 1px solid red; */
}

.official_img_box {
    position: relative;
    width: 200px;
    height: 200px;
    float: left;
}

.official_img {
    width: 190px;
    height: 190px;
    position: absolute;
    top: 5px;
    left: 0;
    border-radius: 10px;
}

.official_introduction {
    float: left;
    width: 530px;
    height: 200px;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.official_box {
    height: 180px;
    position: absolute;
    top: 10px;
    left: 0;
}

.introduction {
    font-size: 24px;
    color: #444;
    height: 60px;
    line-height: 60px;
}


/* 底部 */

.footer {
    width: 750px;
    height: 100px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
}

.footer_img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #333;
    position: absolute;
    left: 20px;
    top: 10px;
}

.footer_text {
    display: inline-block;
    position: absolute;
    color: #000;
    width: 300px;
    height: 50px;
    top: 10px;
    left: 120px;
    font-size: 32px;
    line-height: 50px;
    overflow: hidden;
}

.footer_text2 {
    display: inline-block;
    position: absolute;
    color: #666;
    width: 300px;
    height: 30px;
    top: 60px;
    left: 120px;
    font-size: 22px;
    line-height: 30px;
    overflow: hidden;
}

.footer_play {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 20px;
    right: 110px;
}

.footer_menu {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 25px;
    right: 30px;
}

