.search_index {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.serach_back {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 30px;
    left: 20px;
}

.search_text {
    display: inline-block;
    position: absolute;
    width: 560px;
    height: 60px;
    line-height: 60px;
    font-size: 32px;
    top: 30px;
    left: 100px;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid #000;
    outline-style: none; 
}

.serach_error {
    position: absolute;
    top: 30px;
    right: 100px;
    width: 60px;
    height: 60px;
}

.serach_search {
    position: absolute;
    top: 30px;
    right: 20px;
    width: 60px;
    height: 60px;
}

.search_content {
    width: 750px;
    height: calc( 100% - 80px );
    position: absolute;
    top: 100px;
    left: 0;
    background-color: #fff;
    overflow: hidden;
}

.search_content_title {
    width: 750px;
    height: 100px;
    box-shadow: 2px 2px 2px #888;
}

.search_content_title_text {
    width: calc( 1 / 2 * 100%);
    height: 100px;
    box-sizing: border-box;
    font-size: 32px;
    display: inline-block;
    line-height: 100px;
    text-align: center;
}

.current {
    color: #D43B33;
}

.search_content_body {
    width: 750px;
    height: calc( 100% - 100px );
}

.search_body {
    font-size: 32px;
    width: 200%;
    height: 100%;
    transition: all 0.5s;
}

.search_body_body {
    width: 50%;
    height: calc( 100% - 120px );
    display: inline-block;
    overflow: hidden;
}

.search_content_song {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.search_content_singer {
    width: 100%;
    height: calc( 100% + 200px );
    overflow-y: auto;
    overflow-x: hidden;
}

/* .
_box_box {
    width: 750px;
    height: calc( 100% + 200px );
    overflow: hidden;
} */

.songList {
    margin-top: 20px;
    width: 750px;
    height: 100px;
    position: relative;
    border-bottom: 1px solid #ddd;
}

.songName {
    font-size: 32px;
    color: #000;
    position: absolute;
    top: 0;
    left: 30px;
    width: 400px;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
}

.songArtists {
    font-size: 22px;
    color: #666;
    position: absolute;
    top: 60px;
    left: 30px;
    width: 400px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}


.songPlay {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 30px;
    top: 30px;
}

.songAdd{
    position: absolute;
    width: 50px;
    height: 50px;
    right: 110px;
    top: 30px;
}

.songLove {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 190px;
    top: 30px;
}

.singerImg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 30px;
}

.singerName {
    width: 500px;
    height: 100px;
    line-height: 100px;
    font-size: 32px;
    position: absolute;
    top: 10px;
    left: 160px;
}

.hot_box {
    width: 600px;
    height: calc( 100% - 120px );
    margin: auto;
    overflow: hidden;
}

.search_content_hot {
    width: 620px;
    height: 100%;
    overflow-y: auto;
}

.hot_list {
    margin-top: 20px;
    width: 620px;
    height: 100px;
    position: relative;
    border-bottom: 1px solid #ddd;

    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hot_list_title {
    margin-top: 20px;
    width: 620px;
    height: 100px;
    position: relative;
    border-bottom: 1px solid #ddd;

    font-size: 48px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D43B33;
}