.foot_index {
    width: 100%;
    height: 100%;
    background-color: inherit;
    position: absolute;
    top: 0;
    left: 0;
}

.footer {
    width: 750px;
    height: 100px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left:0;
    z-index: 9;
}

.footer_img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #333;
    position: absolute;
    left: 20px;
    top: 10px;
}

.footer_text {
    display: inline-block;
    position: absolute;
    color: #000;
    width: 300px;
    height: 50px;
    top: 10px;
    left: 120px;
    font-size: 32px;
    line-height: 50px;
    overflow: hidden;
}

.footer_text2 {
    display: inline-block;
    position: absolute;
    color: #666;
    width: 300px;
    height: 30px;
    top: 60px;
    left: 120px;
    font-size: 22px;
    line-height: 30px;
    overflow: hidden;
}

.footer_play {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 20px;
    right: 110px;
}

.footer_menu {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 25px;
    right: 30px;
}




.musicMenu {
    width: 750px;
    height: 100%;
    background-color: inherit;
    position: absolute;
    top: 100%;
    left: 0;
    transition: all 0.5s;
    z-index: 10;
}

.musicMenu_back {
    width: 750px;
    height: 50%;
    top: 0;
    left: 0;
    background-color: inherit;
    z-index: 11;
}

.musicMenu_content {
    width: 750px;
    height: 50%;
    top: 50%;
    left: 0;
    background-color: #000;
    border-radius: 30px 30px 0 0;
    z-index: 11;
}
