.index {
    width: 750px;
    height: 100%;
    font-size: 0;
    position: relative;
    overflow: hidden;
}


/* 头部 */

.header {
    width: 750px;
    height: 200px;
    background-color: #D43B33;
}

.header_left {
    display: inline-block;
    width: 100px;
    height: 100px;
    vertical-align: top;
}

.header_img {
    width: 50px;
    display: block;
    margin: auto;
    margin-top: 25px;
}

.header_content {
    font-size: 30px;
    display: inline-block;
    width: 550px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    vertical-align: top;
    color: #fff;
}

.header_right {
    display: inline-block;
    width: 100px;
    height: 100px;
}

.header_bottom {
    height: 100px;
    width: 750px;
}

.header_bottom_font {
    color: #fff;
    text-align: center;
    font-size: 26px;
    display: inline-block;
    width: calc( 100% / 3);
    height: 100px;
    line-height: 100px;
    position: relative;
}

.header_bottom_font2::after {
    box-sizing: border-box;
    content: "";
    position: absolute;
    width: 80px;
    height: 0;
    border:  2px solid #fff;
    bottom: 15px;
    left: 85px;
    background-color: #fff;
    border-radius: 2px;
    animation: header_bottom_font_change1 0.7s;
}

.header_bottom_font2::before {
    box-sizing: border-box;
    content: "";
    position: absolute;
    width: 250px;
    height: 80px;
    top: 15px;
    left: 0;
    background-color: RGBA(0,0,0,0);
    animation: header_bottom_font_change2 0.7s;
}

@keyframes header_bottom_font_change1 {
    0% {
        width: 0;
        left: 125px;
    }
    100% {
        left: 85px;
        width: 80px;
    }
}

@keyframes header_bottom_font_change2 {
    0% {
        background-color: RGBA(0,0,0,0.6);
    }
    100% {
        background-color: RGBA(0,0,0,0);
    }
}


/* 主体 */

.body {
    width: 750px;
    height: calc( 100% - 300px );
    background-color: #fff;
    overflow: hidden;
}

.body_box {
    width: 2250px;
    height: 100%;
}

.body_page {
    width: 750px;
    height: 100%;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
/* .body_page::-webkit-scrollbar {display: none;} */

.body_page_box {
    position: relative;
    width: 770px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.body_page_box_box {
    width: 750px;
    position: relative;
    top: 0;
    left: 0;
}



/* 底部 */

.footer {
    width: 750px;
    height: 100px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left:0;
    z-index: 9;
}

.footer_img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #333;
    position: absolute;
    left: 20px;
    top: 10px;
}

.footer_text {
    display: inline-block;
    position: absolute;
    color: #000;
    width: 300px;
    height: 50px;
    top: 10px;
    left: 120px;
    font-size: 32px;
    line-height: 50px;
    overflow: hidden;
}

.footer_text2 {
    display: inline-block;
    position: absolute;
    color: #666;
    width: 300px;
    height: 30px;
    top: 60px;
    left: 120px;
    font-size: 22px;
    line-height: 30px;
    overflow: hidden;
}

.footer_play {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 20px;
    right: 110px;
}

.footer_menu {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 25px;
    right: 30px;
}

.serach {
    width: 750px;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    transition: all 0.5s;
}

/* .serach_back {
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    background-color: #000;
} */

.musicMenu {
    width: 750px;
    height: 100%;
    background-color: inherit;
    position: absolute;
    top: 100%;
    left: 0;
    transition: all 0.5s;
    z-index: 10;
}

.musicMenu_back {
    width: 750px;
    height: 30%;
    top: 0;
    left: 0;
    background-color: inherit;
}

.musicMenu_content {
    width: 750px;
    height: 70%;
    top: 30%;
    left: 0;
    background-color: #ddd;
    border-radius: 30px 30px 0 0;
}



.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: #D43B33;
}


.loading {
    position: absolute;
    font-size: 80px;
    color: #fff;
    width: 750px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin-top: -50%;
    margin-left: -50%;
    text-align: center;
    line-height: 400px;
}