.pop {
    width: 750px;
    height: 200px;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.pop_box {
    width: 120px;
    height: 120px;
    background-color: #D43B33;
    border-radius: 50%;
    position: absolute;
    top: 15px;
}

.song {
    left: 97.5px;
}

.dang {
    left: 325px;
}

.sing {
    left: 532.5px;
}

.pop_img {
    width: 60%;
    height: 60%;
    position: absolute;
    top: 20%;
    left: 20%;
}

.pop_text {
    width: 100%;
    height: 32px;
    line-height: 30px;
    font-size: 25px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 135px;
}


.recommend {
    width: 750px;
    margin: auto;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
}

.recommend2 {
    width: 720px;
    margin: auto;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    
}

.recommend_title {
    font-size: 36px;
    margin-bottom: 15px;
    font-weight: 600;
    margin-left: 30px;
}

.recommend_title2 {
    font-size: 36px;
    margin-bottom: 15px;
    font-weight: 600;
    margin-left: 15px;
}

.recommend_box2 {
    width: 240px;
    height: 320px;
    float: left;
    
}

.recommend_img2 {
    width: 210px;
    height: 210px;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin: auto;
    display: block;
}

.recommend_text2 {
    margin: auto;
    display: block;
    width: 210px;
    font-size: 24px;
}